div{
    background-color: aquamarine;
    color: blue;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* border-bottom-left-radius: %; */
    /* width: 500px; */
    height: 200px;
    /* padding-top: 100px; */
}
div > h1 {
    padding-top: 75px;
    font-size: 54px;
}